<div mat-dialog-content>
  Adicionar log
</div>
<form [formGroup]="addForm" fxFlex>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlexFill>
      <mat-form-field class="pl5">
        <input formControlName="ip" matInput placeholder="IP">
      </mat-form-field>
      <mat-form-field class="pl5 pr5">
        <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Data e hora">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <input formControlName="date" matInput placeholder="Data e hora"> -->
      </mat-form-field>
      <mat-form-field class="pr5">
        <input formControlName="method" matInput placeholder="Método">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlexFill>
      <mat-form-field class="pl5 pr5 w100">
        <input formControlName="url" matInput placeholder="URL">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlexFill>
      <mat-form-field class="pl5">
        <input formControlName="httpVersion" matInput placeholder="HTTP Version">
      </mat-form-field>
      <mat-form-field class="pl5 pr5">
        <input formControlName="httpStatus" matInput placeholder="HTTP Status">
      </mat-form-field>
      <mat-form-field class="pr5">
        <input formControlName="length" matInput placeholder="Length">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlexFill>
      <mat-form-field class="pl5 pr5 w100">
        <input formControlName="referer" matInput placeholder="Referer">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlexFill>
      <mat-form-field class="pl5 pr5 w100">
        <input formControlName="userAgent" matInput placeholder="User-agent">
      </mat-form-field>
    </div>
  </div>
</form>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button class="mat-raised-button mat-primary" (click)="onConfirm()" [disabled]="wait">Confirmar</button>
</div>
