  <h2 mat-dialog-title>Novo usuário</h2>
  <mat-dialog-content class="mat-typography">
    <form novalidate (ngSubmit)="onSave()" [formGroup]="newAccountForm" fxFlex>
      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w100">
            <input formControlName="email" matInput placeholder="E-mail">
            <mat-error class="text-danger" *ngIf="displayMessage.email">
              <span [innerHTML]="displayMessage.email"></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w100">
            <input formControlName="password" matInput type="password" placeholder="Senha">
            <mat-error class="text-danger" *ngIf="displayMessage.password">
              <span [innerHTML]="displayMessage.password"></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w100">
            <input formControlName="confirmPassword" matInput type="password" placeholder="Confirme a senha">
            <mat-error class="text-danger" *ngIf="displayMessage.confirmPassword">
              <span [innerHTML]="displayMessage.confirmPassword"></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="mat-raised-button" (click)="onClose()">Cancelar</button>
    <button class="mat-raised-button mat-primary" (click)="onSave()">Criar conta</button>
  </mat-dialog-actions>
